/*

#ctx {
 
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  margin: 0;
}
*/

@font-face {
  font-family: 'early_gameboyregular';
  src: url('early_gameboy-webfont.woff2') format('woff2'),
       url('early_gameboy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.buttontext {
  color: white;
  font-family: 'early_gameboyregular';
  border-radius: 25px;
  border-color: white;
  border: solid;
  border-width: 2px;
  padding: 5px;
}

#leftbuttonC {
  position: absolute;
  top: 85%;
  left: 2%;
  transform: translate(-5%, -20%);
  
}

#rightsideC {
  position: absolute;
  top: 85%;
  right: 2%;
  
  
}

#trophyimg {
  position: absolute;
  bottom: 5%;
  right: 1%;

}

#currentchamp {
  position: relative;
  right: 5%;
}

body {
  background-color: #bfbab7;
  background-image: linear-gradient(to bottom right, #bfbab7, #9f9793);
}#ctx {
 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    margin: 0;
}

#canvasC {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    background-color: #514b48 ;
    margin-top: 12%;
    padding: 2%;
    width: 724px;
    height: 674px;
    border-radius: 25px;
    
}

#canvasO{
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    margin: 0;
    background-color: #66cc00;
    width: 720px;
    height: 670px;
    opacity: 0.4;
}
@font-face {
    font-family: 'early_gameboyregular';
    src: url('early_gameboy-webfont.woff2') format('woff2'),
         url('early_gameboy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.buttontext {
    color: white;
    font-family: 'early_gameboyregular';
    border-radius: 25px;
    border-color: white;
    border: solid;
    border-width: 2px;
    padding: 5px;
}

#leftbuttonC {
    position: absolute;
    top: 85%;
    left: 2%;
    transform: translate(-5%, -20%);
    
}

#rightsideC {
    position: absolute;
    top: 85%;
    right: 2%;
    
    
}

#trophyimg {
    position: absolute;
    bottom: 5%;
    right: 1%;

}

#currentchamp {
    position: relative;
    right: 5%;
}

body {
    background-color: #bfbab7;
    background-image: linear-gradient(to bottom right, #bfbab7, #9f9793);
}

