

@font-face {
  font-family: 'early_gameboyregular';
  src: url('early_gameboy-webfont.woff2') format('woff2'),
       url('early_gameboy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.buttontext {
  color: white;
  font-family: 'early_gameboyregular';
  border-radius: 25px;
  border-color: white;
  border: solid;
  border-width: 2px;
  padding: 5px;
}

#leftbuttonC {
  position: absolute;
  top: 85%;
  left: 2%;
  transform: translate(-5%, -20%);
  
}

body {
  background-color: #bfbab7;
  background-image: linear-gradient(to bottom right, #bfbab7, #9f9793);
}#ctx {
 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    margin: 0;
}

#canvasC {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    background-color: #514b48 ;
    margin-top: 12%;
    padding: 2%;
    width: 724px;
    height: 674px;
    border-radius: 25px;
    
}

#canvasO{
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    margin: 0;
    background-color: #66cc00;
    width: 720px;
    height: 670px;
    opacity: 0.4;
}
@font-face {
    font-family: 'early_gameboyregular';
    src: url('early_gameboy-webfont.woff2') format('woff2'),
         url('early_gameboy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.buttontext {
    color: white;
    font-family: 'early_gameboyregular';
    border-radius: 25px;
    border-color: white;
    border: solid;
    border-width: 2px;
    padding: 5px;
}

#leftbuttonC {
    position: absolute;
    top: 85%;
    left: 2%;
    transform: translate(-5%, -20%);
    
}


body {
    background-color: #bfbab7;
    background-image: linear-gradient(to bottom right, #bfbab7, #9f9793);
}


#overlay {
  position: fixed; 
  display: none;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}

#text{
  position: absolute;
  top: 25%;
  left: 40%;
  font-family: 'early_gameboyregular';
  font-size: 24pt;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#overlayimg {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}


#overlayimg1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}